html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;/*mobile size grid*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  margin: 1rem;
}

.main-grid {
 list-style-type: none;
 padding: 0; display: grid;
 grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
 gap: 1em;
}

.main-grid li {
  background-color: #fff;
  padding: 1em;
}
